.div-progam{
     display: inline-flex;
     padding-top: 30px;
 padding-bottom: 30px;
}

.section-programme{
    display: inline-flex;
    padding-top: 50px;

    
}

h1{
    text-align: center;
    font-size: 5em;
    padding: 25px;
}